<div class="row">
  <div class="col-md-8">
    <% if @articles %>
      <div class="card mb-3 shadow-sm border" style="border-radius: 13px;">
        <div class="card-body pb-2">
          <h5>
            <span>Закладки</span>
            <span class="text-muted ms-1">Публикации</span>
          </h5>
        </div>
      </div>
      <%= render partial: 'articles/content',
                 locals: { articles: @articles.map(&:bookmarkable) } %>

    <% elsif @users %>
      <div class="card mb-3 shadow-sm border" style="border-radius: 13px;">
        <div class="card-body pb-0">
          <h5>
            <span>Закладки</span>
            <span class="text-muted ms-1">Люди</span>
          </h5>
        </div>
        <%= render partial: 'users/search_result',
                   locals: { users: @users.map(&:bookmarkable) } %>
      </div>

    <% elsif @comments %>
      <div class="card mb-3 shadow-sm border" style="border-radius: 13px;">
        <div class="card-body pb-2">
          <h5>
            <span>Закладки</span>
            <span class="text-muted ms-1">Комментарии</span>
          </h5>
        </div>
      </div>
      <%= render partial: 'comments/index_separate',
                 locals: { comments: @comments.map(&:bookmarkable) }%>
    <% end %>
  </div>

  <div class="col-md-4">
    <%= render partial: 'bookmarks/right_sidebar' %>
  </div>
</div>

<% if @articles %>
  <%= paginate @articles %>
<% elsif @users %>
  <%= paginate @users %>
<% elsif @comments %>
  <%= paginate @comments %>
<% end %>
