<div class="modal position-static d-block">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow-sm">
      <div class="p-5 pb-4 border-bottom-0 text-center">
        <h1 class="fw-bold mb-0 fs-2 text-center">Редактирование</h1>
      </div>

      <div class="modal-body p-5 pt-0">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="row mb-3">
            <div class="field col-6">
              <%= f.label :first_name, 'Имя' %><br/>
              <%= f.text_field :first_name, class: 'form-control',
                               placeholder: "Иван",
                               autofocus: true,
                               required: true %>
            </div>

            <div class="field col-6">
              <%= f.label :last_name, 'Фамилия' %><br/>
              <%= f.text_field :last_name, class: 'form-control',
                               placeholder: "Иванов",
                               required: true %>
            </div>
          </div>

          <div class="field mb-3">
            <%= f.label :email, 'Почта' %><br/>
            <%= f.email_field :email, class: 'form-control mb-2',
                              autofocus: true,
                              required: true  %>
          </div>

          <%= f.label :username, 'Никнейм' %><br/>
          <div class="input-group mb-3">
            <span class="input-group-text">@</span>
            <%= f.text_field :username, class: 'form-control' %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Ожидает подтверждения: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field mb-3">
            <%= f.label :password, 'Новый пароль' %> <i>(оставьте пустым если не хотите изменять, <%= @minimum_password_length %> символов минимум)</i><br/>
            <%= f.password_field :password,
                                 class: 'form-control mb-2',
                                 autocomplete: 'new-password' %>
          </div>

          <div class="field mb-3">
            <%= f.label :current_password, 'Текущий пароль' %><br/>
            <%= f.password_field :current_password,
                                 class: 'form-control mb-2',
                                 autocomplete: "current-password",
                                 required: true %>
          </div>

          <div class="actions">
            <%= f.submit "Сохранить",class: 'w-100 mb-2 btn btn-lg rounded-3 btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

