<% comments.each do |comment| %>
  <div class="d-flex mb-2" id="<%= dom_id(comment) %>">
    <div class="flex-shrink-0">
      <%= link_to comment.user do %>
        <%= image_tag user_avatar(comment.user, 100),
                      class: 'rounded-circle border border-secondary',
                      size: '40x40' %>
      <% end %>
      <%= render partial: 'comments/dropdown',
                 locals: { comment: comment } %>
    </div>

    <div class="row ms-3">
      <div class="fw-semibold my-0">
        <%= link_to comment.user.full_name, comment.user,
                    class: 'text-decoration-none', data: { turbo: false } %>
      </div>

      <%= simple_format(comment.body, {}, wrapper_tag: "div") %>

      <div class="row">
        <%= render partial: 'comments/time', locals: { comment: comment } %>
        <%= render partial: 'likes/button', locals: { likeable: comment } %>
      </div>

      <% if @replies.key?(comment.id) %>
        <% @replies[comment.id].each do |reply| %>
          <%= render partial: 'comments/child_comment', locals: { comment: reply } %>
        <% end %>
      <% end %>

      <!-- Reply form -->
      <div>
        <a class="text-decoration-none"
           onclick="reply_form_<%= comment.id %>.style.display='block'"
           style="cursor: pointer">Ответить</a>

        <div id="reply_form_<%= comment.id %>" style="display: none">
          <%= render partial: 'comments/form',
                     locals: { instance: @article, parent_id: comment.id } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
