<% comments.each do |comment| %>
  <!-- Comment -->
  <div class="d-flex mb-2" id="<%= dom_id(comment) %>">
    <!-- Parent comment-->
    <div class="flex-shrink-0">
      <%= link_to comment.user do %>
        <%= image_tag user_avatar(comment.user, 100),
                      class: 'rounded-circle border border-secondary',
                      size: '40x40' %>
      <% end %>
      <%= render partial: 'comments/dropdown',
                 locals: { comment: comment } %>
    </div>

    <div class="row ms-3">
      <div class="fw-semibold my-0">
        <%= link_to comment.user.full_name, comment.user,
                    class: 'text-decoration-none', data: { turbo: false } %>
      </div>

      <div><%= comment.body %></div>

      <%= render partial: 'comments/time_link', locals: { comment: comment } %>

      <% if @replies.key?(comment.id) %>
        <% @replies[comment.id].each do |reply| %>
          <!-- Child comment -->
          <div class="d-flex mt-4" id="<%= dom_id(reply) %>">
            <div class="flex-shrink-0">
              <%= link_to reply.user do %>
                <%= image_tag user_avatar(reply.user, 100),
                              class: 'rounded-circle border border-secondary',
                              size: '40x40' %>
                <%= render partial: 'comments/dropdown',
                           locals: { comment: reply } %>
              <% end %>
            </div>

            <div class="ms-3">
              <div class="fw-semibold">
                <%= link_to reply.user.full_name, reply.user,
                            class: 'text-decoration-none', data: { turbo: false } %>
              </div>

              <div><%= reply.body %></div>

              <%= render partial: 'comments/time_link', locals: { comment: reply } %>
            </div>
          </div>
        <% end %>
      <% end %>

      <!-- Reply form -->
      <div>
        <a class="text-decoration-none"
           onclick="reply_form_<%= comment.id %>.style.display='block'"
           style="cursor: pointer">Ответить</a>

        <div id="reply_form_<%= comment.id %>" style="display: none">
          <%= render partial: 'comments/form',
                     locals: { instance: @article, parent_id: comment.id } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
