<% comments.each do |comment| %>
  <!-- Comment -->
  <div class="d-flex mb-2" id="<%= dom_id(comment) %>">
    <!-- Parent comment-->
    <div class="flex-shrink-0">
      <%= image_tag ("photo-profile.jpg"), class: 'rounded-circle', size: '50x50' %>
    </div>

    <div class="ms-3">
      <div class="fw-semibold">
        <%= link_to comment.user.full_name, comment.user,
                    class: 'text-decoration-none', data: { turbo: false } %>
      </div>
      <div><%= comment.body %></div>

      <% if @replies.key?(comment.id) %>
        <% @replies[comment.id].each do |reply| %>
          <!-- Child comment -->
          <div class="d-flex mt-4" id="<%= dom_id(reply) %>">
            <div class="flex-shrink-0">
              <%= image_tag ("photo-profile.jpg"), class: 'rounded-circle', size: '50x50' %>
            </div>

            <div class="ms-3">
              <div class="fw-semibold">
                <%= link_to reply.user.full_name, reply.user,
                            class: 'text-decoration-none', data: { turbo: false } %>
              </div>
              <div><%= reply.body %></div>
            </div>
          </div>
        <% end %>
      <% end %>

      <!-- Reply form -->
      <div>
        <a class="text-decoration-none"
           onclick="reply_form_<%= comment.id %>.style.display='block'"
           style="cursor: pointer">Ответить</a>

        <div id="reply_form_<%= comment.id %>" style="display: none">
          <%= render partial: 'comments/form',
                     locals: { instance: @article, parent_id: comment.id } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
