<% articles.each do |article| %>
  <div class="card mb-3 shadow-sm border" style="border-radius: 13px;">
    <div class="card-body">
      <div class="my-0">
        <div class="row">
        <div class="col">
          <h6 class="my-0">
            <%= link_to article.user.full_name, article.user,
                        class: 'card-title text-decoration-none',
                        data: { turbo: false } %>

          </h6>
          <small class="text-muted">
            <%= link_to l(article.created_at, format: :post_short), article,
                        class: 'text-muted text-decoration-none',
                        data: { turbo: false } %>
            <% if article.user != article.wall.wallable %>
              <span>·</span>
              <span>на стене
                <%= link_to article.wall.wallable.full_name, article.wall.wallable,
                            class: 'card-title text-decoration-none',
                            data: { turbo: false } %>
              </span>
            <% end %>
          </small>
        </div>

          <div class="col-auto dropdown text-end dropdown-menu-end">
            <a href="#" class="d-block link-dark" data-bs-toggle="dropdown">
              <i class="bi bi-three-dots" style="font-size: 1.4rem"></i>
            </a>
            <ul class="dropdown-menu text-small">
              <li>
                <%= link_to 'Редактировать', edit_article_path(article),
                            class: 'dropdown-item', data: { turbo: false } %>
              </li>

              <li><hr class="dropdown-divider"></li>

              <li>
                <%= link_to 'Удалить', article_path(article),
                            class: 'dropdown-item text-danger',
                            data: { turbo_method: :delete,
                                    turbo_confirm: 'Вы точно хотите удалить публикацию?' } %>
              </li>
            </ul>
          </div>
      </div>
      </div>

      <div class="my-2">
        <p class="card-text"><%= article.text %></p>
      </div>

      <div class="row">
        <div class="col-auto pe-0">
          <% like = current_user.likes.find_by(likeable: article) %>
          <% likes_count = article.likes.size %>

          <% if like.nil? %>
            <%= link_to likes_path("like[likeable_type]": article.class,
                                   "like[likeable_id]": article.id),
                        data: { "turbo-method": :post },
                        class: 'btn btn-outline-danger' do %>
              <i class="bi bi-heart"></i>
              <span class="fw-bold"><%= likes_count if likes_count.positive?  %></span>
            <% end %>
          <% else %>
            <%= link_to like_path(like.id),
                        data: { "turbo-method": :delete },
                        class: 'btn btn-outline-danger' do %>
              <i class="bi bi-heart-fill"></i>
              <span class="fw-bold"><%= likes_count %></span>
            <% end %>
          <% end %>
        </div>

        <div class="col-auto">
          <% comment = current_user.comments.find_by(commentable: article) %>
          <% comments_count = article.comments.size %>

          <% if comment.nil? %>
            <%= link_to article_path(article, anchor: 'comments'),
                        class: 'btn btn-outline-primary', data: { turbo: false } do %>
              <i class="bi bi-chat-left"></i>
              <span class="fw-bold"><%= comments_count if comments_count.positive? %></span>
            <% end %>
          <% else %>
            <%= link_to article_path(article, anchor: 'comments'),
                        class: 'btn btn-outline-primary', data: { turbo: false } do %>
              <i class="bi bi-chat-left-fill"></i>
              <span class="fw-bold"><%= comments_count if comments_count.positive? %></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
