<% articles.each do |article| %>
  <div class="card mb-3 shadow-sm border" style="border-radius: 13px;">
    <div class="card-body">
      <div class="my-0">
        <div class="row">
          <div class="col-auto pe-0">
            <%= link_to article.user do %>
              <%= image_tag user_avatar(article.user, 200),
                            class: 'rounded-circle border border-secondary', size: '45x45' %>
            <% end %>
          </div>

          <div class="col">
            <h6 class="my-0">
              <%= link_to article.user.full_name, article.user,
                          class: 'card-title text-decoration-none',
                          data: { turbo: false } %>
            </h6>

            <small class="text-muted">
              <% article.created_at.year == Date.today.year ? format = :post_short : format = :date %>
              <%= link_to l(article.created_at, format: format), article,
                          class: 'text-muted text-decoration-none',
                          data: { turbo: false } %>

              <% if article.user != article.wall.wallable %>
                <span>·</span>
                <span>на стене
                  <%= link_to article.wall.wallable.full_name, article.wall.wallable,
                              class: 'card-title text-decoration-none',
                              data: { turbo: false } %>
                </span>
              <% end %>
            </small>
          </div>
          <%= render partial: 'articles/dropdown', locals: { article: article } %>
        </div>
      </div>

      <div class="my-2">
        <%= article.content %>
      </div>

      <div class="row">
        <div class="col-auto pe-0">
          <%= render partial: 'likes/button', locals: { likeable: article } %>
        </div>

        <div class="col-auto">
          <%= render partial: 'comments/button', locals: { commentable: article } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
