<div>
  <strong><%= @article.user.username %></strong>
  <%= @article.created_at %>
</div>
<h1><%= simple_format(@article.title) %></h1>
<p><%= simple_format(@article.text) %></p>
<br/>
<p>
  <%= link_to 'Редактировать', edit_article_path(@article) %>
  <%= link_to 'Удалить', article_path(@article),
              data: {turbo_method: :delete,
                     turbo_confirm: 'Вы точно хотите удалить публикацию?'} %>
</p>
<p><%= link_to '< назад к публикациям', articles_path %></p>

<h2>Комментарии:</h2>
<div class="col-md-6">
  <%= form_for([@article, @article.comments.build]) do |f| %>
    <p>
      <%= f.text_area :body, size: 'x3',
                      placeholder: 'Введите текст комментария',
                      class: 'form-control'
      %>
    </p>
    <p>
      <%= f.submit 'Добавить комментарий', class: 'btn btn-outline-primary' %>
    </p>
  <% end %>
</div>

<% @comments.each do |comment| %>
  <comment>
    <p><strong><%= comment.author %></strong></p>
    <p><%= simple_format(comment.body) %></p>
    <p><%= comment.created_at %></p>
    <hr/>
  </comment>
<% end %>
