<div>
  <strong><%= @article.user.username %></strong>
  <%= @article.created_at %>
</div>
<h1><%= simple_format(@article.title) %></h1>
<p><%= simple_format(@article.text) %></p>
<br/>

<% if current_user == @article.user %>
  <p>
    <%= link_to 'Редактировать', edit_article_path(@article) %>
    <%= link_to 'Удалить', article_path(@article),
                data: {turbo_method: :delete,
                       turbo_confirm: 'Вы точно хотите удалить публикацию?'} %>
  </p>
<% end %>

<p><%= link_to '< назад к публикациям', articles_path %></p>

<!-- Comments section-->
<section class="mb-5">
  <div class="card bg-light">
    <div class="card-body">
      <!-- Comment form-->
      <%= render partial: 'comments/form', locals: { instance: @article } %>

      <% @comments.each do |comment| %>
        <% begin
             comment_author_name = comment.user.username
           rescue ActiveRecord::RecordNotFound
             comment_author_name = 'author_deleted'
           end
        %>

        <!-- Comment -->
        <div class="d-flex mb-2" id="<%= dom_id(comment) %>">
          <!-- Parent comment-->
          <div class="flex-shrink-0">
            <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
          </div>

          <div class="ms-3">
            <div class="fw-bold"><%= comment_author_name %></div>
            <div><%= comment.body %></div>

            <% if @replies.key?(comment.id) %>
              <% @replies[comment.id].each do |reply| %>
                <% begin
                     reply_author_name = reply.user.username
                   rescue ActiveRecord::RecordNotFound
                     reply_author_name = 'author_deleted'
                   end
                %>

                <!-- Child comment -->
                <div class="d-flex mt-4" id="<%= dom_id(reply) %>">
                  <div class="flex-shrink-0">
                    <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="...">
                  </div>

                  <div class="ms-3">
                    <div class="fw-bold"><%= reply_author_name %></div>
                    <div><%= reply.body %></div>
                  </div>
                </div>
              <% end %>
            <% end %>

            <!-- Reply form -->
            <div>
              <a class onclick="reply_form_<%= comment.id %>.style.display='block'"
                 style="cursor: pointer">Ответить</a>

              <div id="reply_form_<%= comment.id %>" style="display: none">
                <%= render partial: 'comments/form', locals: { instance: @article, parent_id: comment.id } %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
