<h1><%= @article.title %></h1>
<p><%= @article.text %></p>
<br/>
<p>
  <%= link_to 'Редактировать', edit_article_path(@article) %>
  <%= link_to 'Удалить', article_path(@article),
              data: {turbo_method: :delete,
                     turbo_confirm: 'Вы точно хотите удалить публикацию?'} %>
</p>
<p><%= link_to '< назад к публикациям', articles_path %></p>

<p>
  <%= form_for([@article, @article.comments.build]) do |f| %>
    <p>
      <%= f.label :author %><br/>
      <%= f.text_field :author %>
    </p>
    <p>
      <%= f.label :body %><br/>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</p>
