<h1><%= @article.title %></h1>
<p><%= @article.text %></p>
<br/>
<p>
  <%= link_to 'Редактировать', edit_article_path(@article) %>
  <%= link_to 'Удалить', article_path(@article),
              data: {turbo_method: :delete,
                     turbo_confirm: 'Вы точно хотите удалить публикацию?'} %>
</p>
<p><%= link_to '< назад к публикациям', articles_path %></p>
