<% likes_count = likeable.likes.size %>
<% classes = 'btn btn-link link-danger p-0' if likeable.class.to_s == 'Comment' %>
<% classes = classes || 'btn btn-outline-danger' %>

<div class="col-auto p-0">
  <%= turbo_frame_tag :likes, likeable do %>
    <% if liked?(likeable) %>
      <%= button_to dislike_path, params: { likeable_type: likeable.class.to_s,
                                            likeable_id: likeable.id },
                    method: :delete, class: classes do %>
        <i class="bi bi-heart-fill"></i>
        <span class="fw-bold"><%= likes_count if likes_count.positive? %></span>
      <% end %>
    <% else %>
      <%= button_to like_path, params: { likeable_type: likeable.class.to_s,
                                         likeable_id: likeable.id },
                    method: :post, class: classes do %>
        <i class="bi bi-heart"></i>
        <span class="fw-bold"><%= likes_count if likes_count.positive? %></span>
      <% end %>
    <% end %>
  <% end %>
</div>
