<% likes_count = likeable.likes.size %>
<% if current_user %>
  <% like_from_current_user = current_user.likes.find_by(likeable: likeable) %>
<% else %>
  <% like_from_current_user = nil %>
<% end %>

<%= form_with model: Like.new do |form| %>
  <%= form.hidden_field :likeable_type, value: likeable.class.to_s %>
  <%= form.hidden_field :likeable_id, value: likeable.id %>
  <%= form.button nil, class: 'btn btn-outline-danger' do %>
    <% if like_from_current_user.nil? %>
      <i class="bi bi-heart"></i>
    <% else %>
      <i class="bi bi-heart-fill"></i>
    <% end %>
    <span class="fw-bold"><%= likes_count if likes_count.positive?  %></span>
  <% end %>
<% end %>
