<h3>Пользователь <%= @user.id %></h3>

<div>
  <b>Почта: </b><%= @user.email %><br/>
  <b>Никнейм: </b><%= @user.username %><br/>
  <b>Дата регистрации: </b><%= I18n.localize(@user.created_at, format: :long) %><br/>
  <b>Публикаций: </b><%= @user.articles.size %><br/>
  <b>Комментариев: </b><%= @user.comments.size %><br/>
</div>
<hr>


<%= render partial: 'articles/form', locals: { instance: @user } %>

<%= render partial: 'articles/content',
           locals: { articles: @articles } %>
