<div class="modal position-static d-block">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="p-5 pb-4 border-bottom-0 text-center">
        <h1 class="fw-bold mb-0 fs-2 text-center">Изменение пароля</h1>
      </div>

      <div class="modal-body p-5 pt-0">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field mb-3">
            <%= f.label :password, 'Новый пароль' %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> символов минимум)</em>
            <% end %><br/>
            <%= f.password_field :password,
                                 class: 'form-control mb-2',
                                 autocomplete: 'new-password',
                                 required: true %>
          </div>

          <div class="field mb-3">
            <%= f.label :password_confirmation, 'Повторите пароль' %><br/>
            <%= f.password_field :password_confirmation,
                                 class: 'form-control mb-2',
                                 autocomplete: "new-password",
                                 required: true %>
          </div>

          <div class="actions">
            <%= f.submit "Изменить пароль",class: 'w-100 mb-2 btn btn-lg rounded-3 btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

