<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="<%= root_path %>" class="nav-link px-2 link-dark">Главная</a></li>
          <li><a href="<%= users_path %>" class="nav-link px-2 link-dark">Пользователи</a></li>
          <li><a href="<%= articles_path %>" class="nav-link px-2 link-dark">Публикации</a></li>
          <li><a href="<%= new_article_path %>" class="nav-link px-2 link-dark">Добавить публикацию</a></li>
        </ul>

        <div class="col-md-3 text-end">
          <% if user_signed_in? %>
            Привет, <%= current_user.username %> |
            <%= link_to 'Выйти', destroy_user_session_path,
                        data: { turbo_method: :delete,
                                turbo_confirm: 'Вы точно хотите выйти?'} %>
          <% else %>
            <a href="<%= new_user_session_path %>" type="button" class="btn btn-outline-primary me-2">Войти</a>
          <% end %>
        </div>
      </header>

      <% if notice %>
        <div class="alert alert-info"><%= notice %></div>
      <% end %>

      <% if alert %>
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
